

h1+p {
    font-family: 'Abril Fatface', cursive;
}

h2+p {
    font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
    
    font-family: 'Antic Slab', serif;
}
 
h2 {
    font-family: 'Alfa Slab One', cursive;
}


